.btn{
	
	
}

html {

}

body{
	background: url(img/bg2.png);
	background-repeat: repeat;

	
}

.container{

	position: absolute; top: 25%;
	left:33%;
}

.input-xlarge{
	
	height:30px;
}

.well{
	width:280px;
	
}

#btnpass{
	
	position:relative;
	left:27px;
}
#btnRegister{
	
	position:relative;
	left:86px;
}

.hero-unit{
	width:100%;
}


#heroke{
	
	height:42px;
	background-color: #e8e8e8;
	padding-left:10px;
	padding-top:12px;
	
}

#navieke{
float:left;
}

#inboxbadge{
position:absolute;
	left:150px;
	top:21px;
	
}

#onholdbadge{
position:absolute;
	left:150px;
	top:45px;
	
}

#conv{

	
	width:auto;

	position:fixed;
	left:240px;
	top:90px;
	height:60px;
	margin-right: 50px;
	

}

#demessage{
	position:relative;
	left:130px;
	top:-20px;
	
}

#archive{
position:absolute;
left:930px;
top:-80px;
	
}

#onhold{
position:relative;
left:930px;
top:-80px;
	
}

#reply{
position:relative;
left:930px;
top:-80px;
	
}

#tag{
position:relative;
left:930px;
top:-80px;
	
}


#archivebadge{
position:absolute;
	left:150px;
	top:69px;
	
}

#problemsbadge{
position:absolute;
	left:150px;
	top:112px;
	
}

#complimentsbadge{
position:absolute;
		left:150px;
	top:136px;
	
}


#nov{
	
	float:left;
	position: relative;
	left:220px;
	top:-29px;
	
}

#barrie{
width:500px;

position:relative;
margin-left:auto;
margin-right:auto;
top:50%;
}

#left{
position:fixed;
left:-10px;
top:53px;

	width:200px;
	background-color: #e8e8e8;
height:1000px;
}