.btn{


}

html {

}

body{
	background-color:#d8ebf5;
	background-repeat: repeat;
	background-image:url(../images/bggroot.png);



}

.container{

	position: absolute; top: 25%;
	left:33%;

}

.input-xlarge{

	height:30px;
}

#headerken{

	margin-left:35px;
}
#connect{
	margin-right:60px;

	margin-bottom:25px;

}
.well{
	width:280px;

}

#lallie{

padding-top:25px;
font-size:12px;
min-width: 200px;
border-right: 1px solid  #e5e5e5;
}

#witmaken{
	background-color:white;
	max-width: 100%;



}
#lee{

with:1000px;
}

.container-fluid{
		background-color:white;

	padding-right:0px;

}

#logout{
	 top: 4px;
    right: 8px;
position: absolute;


}
#locatie{

	position:relative;
	left:-333px;
}

#lblLoc{

	position:relative,
	top:-200px;
}

#input031{
position:relative;
	top:-52px;
	left:-60px;

}
#verwijder{
	margin-left:20px;

}

input03{
	position:relative;
	top:40px;
}
#wellie{
	width:1000px;
	height:440px;

}
#btnpass{
    float:right;
	margin-right: 20px;
}
#btnRegister{

	position:relative;
	left:86px;
}

.hero-unit{
	width:100%;

}

.no_report {
    text-align:center;
}

