{% extends 'base_login.html' %}

{% block content %}

    <table width="95%" border="0" align="center" cellpadding="5" cellspacing="10" class="contentWrap resetblk" style="width:1000px;">
         <tr class="">
       <!--  <td width=50% valign=top>
               <p class="">Follow us on:</p>
                  <ul>
                   <li class="feed-twitter feed_icons"><a href="http://twitter.com/SnifferDocs">Twitter</a></li>
                   <li class="feed-facebook feed_icons"><a href="http://www.facebook.com/SniffDocs">Facebook</a></li>
                 <ul>
            </td>-->

<!--right section begins-->
<td valign="top" align="left" style="text-align:justify;color:grey;font-size:10px;width:60%">
  <h4>Forgot your password?</h4>

  <p>&nbsp;&nbsp; If you are having difficulty logging in, you can reset your password by typing the email address <br />&nbsp;&nbsp; that you login with. You will receive an email with instructions on how to reset your password.</p>
   </td>
  <td></td>

<td width=60% valign=top align="right">
  <!-- login box -->

       <div id=login class="">
           <form id="" action="" method="post" onsubmit="">
                <div id="" >
                     <table class="" cellspacing="1" cellpadding="5" width="100%" border="0" bgcolor="">
                       <tr>
                           <td valign="top" style="text-align:center;background-color:#EDF2F6" nowrap="nowrap" bgcolor="">
                                 <div class="">
                                  <table id="" align="center" border="0" cellpadding="1" cellspacing="2" width="100%">
                                   <tr>
                                      <td colspan="2" align="left">
                                           <!--logo-->
                                              <table>
                                                    <tr>
                                                      <td valign="top"><h4>Send Confirmation</h4></td>
                                                    </tr>
                                                </table>									   </td>
                                     </tr>

                                     <tr id="">
                                           <td nowrap="nowrap"><div align="right"><label for="id_email">Email:</label></div></td>
                                           <td><input type="text" name="Email"  id="id_email" size="30" value="" class='loginput'/> </td>
                                     </tr>


                                    <tr></tr>

                                    <tr>
                                          <td></td>

                                        <td align="left" style="padding-left:8px;;padding-top:15px;">
                                             <!--<input type="submit" class="readmore" name="" id="" value="Login"/>-->

                                            <!-- <a href="#" class="fancy_button" style="background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(13, 109, 198); padding-top: 6px; padding-right: 10px; padding-bottom: 5px; padding-left: 10px; background-position: initial initial; background-repeat: initial initial; ">Reset Password</a>-->
                                             <input type="submit" class="fancy_button" name="" id="" value="Reset Password" style="background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(13, 109, 198); padding-top: 6px; padding-right: 10px; padding-bottom: 5px; padding-left: 10px; background-position: initial initial; background-repeat: initial initial;"/>

                                                                                     </td>
                                    </tr>

                                    <tr>									</tr>
                                  </table>
                            </div>						</td>
                      </tr>
                </table>
               </div>
       </form>
  </div><!-- end login box -->
  <br>
  <!-- links box (below login box) -->


  </table>

  <!-- end links box (below login box) -->

{% endblock %}
