
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="styles/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="styles/eigen.css" rel="stylesheet" type="text/css" />

<meta name="description" content="SocialExpress™ - Social media management with instant reporting." />
<meta name="keywords" content="Social Media Marketing, social media management, cms for social media, CRM, helpdesk, customer support, artificial intelligence" />
<title>SocialExpres  - Social media management with instant reporting.</title>

</head>

<body>

      <div class="hero-unit">
    <h1>SocialExpress</h1>
    <p>Welcome!</p>
   
    </div>
<div class="container">
    {% if error %}
    <span class="help-block" style="color:red">Login Failed</span>    
    {% end %}
    
    <form class="well" method="POST" action="/login" >
    <fieldset>

    <div class="control-group">

    <label class="control-label" for="input01">E-mail</label>
    <div class="controls">
    <input type="text" name="email" class="input-xlarge" id="input01">

    </div>
    </div>
        <div class="control-group">
    <label class="control-label" for="input01">Password</label>
    <div class="controls">
    <input type="password" name="password"  class="input-xlarge" id="input01" > 

    </div>    
</div>
<a href="/registration" >
        <button class="btn btn-large btn-primary" type="submit">

Create an account
</button>
</a>
    <button class="btn btn-large btn-warning" id="btnPass"  type="submit" >
    <i class="icon-ok icon-white"></i>
Login
</button>

    </fieldset>
    </form>
</div>

</body>
</html>
