
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="css/eigen.css" rel="stylesheet" type="text/css" />

<meta name="description" content="SocialExpress™ - Social media management with instant reporting." />
<meta name="keywords" content="Social Media Marketing, social media management, cms for social media, CRM, helpdesk, customer support, artificial intelligence" />
<title>SocialExpress™ - Social media management with instant reporting.</title>

</head>

<body>

    <div class="progress progress-striped
    active" id="barrie">
    <div class="bar"
    style="width: 70%;"></div>
    </div>
</body>

</body>
</html>