
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="css/eigen.css" rel="stylesheet" type="text/css" />

<meta name="description" content="SocialExpress™ - Social media management with instant reporting." />
<meta name="keywords" content="Social Media Marketing, social media management, cms for social media, CRM, helpdesk, customer support, artificial intelligence" />
<title>SocialExpress™ - Social media management with instant reporting.</title>

</head>

<body>

      <div id="heroke">
      <div id="socialexpressie">
    <h3>SocialExpress</h3>
      </div>
      <div id="nov">
        <ul class="nav nav-pills" id="navieke">
    <li class="active">
    <a href="#">Conversations</a>
    </li>
    <li><a href="#">Reporting</a></li>

    </ul>
 

       </div>

<div class="container">


   <div id="left">
   <span class="badge badge-info" id="inboxbadge">457</span>
   <span class="badge badge-info" id="onholdbadge">48</span>
   <span class="badge badge-info" id="archivebadge">283</span>
   <span class="badge badge-info" id="problemsbadge">28</span>
   <span class="badge badge-info" id="complimentsbadge">83</span>
  
   
    <ul class="nav nav-list">
    Messages
    <li>
    <a class="inboxx" href="#">
    <i class="icon-inbox icon-white"></i>
    Inbox
    </a>
    </li>
    <li>
    <a class="inboxx" href="#">
    <i class="icon-time icon-white"></i>
    On hold
    </a>
    </li>
    
       <li>
    <a class="inboxx" href="#">
    <i class="icon-folder-close icon-white"></i>
    Archive
    </a>
    </li>

Cases
   <li>
    <a class="inboxx" href="#">
    <i class="icon-thumbs-down icon-white"></i>
    Problems
    </a>
    </li>

   <li>
    <a class="inboxx" href="#">
    <i class="icon-thumbs-up icon-white"></i>
    Compliments
    </a>
    </li>


    </ul>
   </div>
   
       <div class="hero-unit" id="conv">
   	     
    <p id="demessage">Hi, I got a question @PhilipsNL when will my new 3D TV be fixed?</p>

    <p>
    <a class="btn btn-primary btn-large" id="archive">  <i class="icon-folder-close icon-white"></i>
Archive
    </a>
      <a class="btn btn-primary btn-large" id="onhold">    <i class="icon-time icon-white"></i>
On hold
    </a>
      <a class="btn btn-primary btn-large" id="tag">    <i class="icon-tag icon-white"></i>
Tag
    </a>
  <a class="btn btn-primary btn-large" id="reply">    <i class="icon-comment icon-white"></i>
Reply
    </a>

    </p>
         <p id="ago">22 minutes ago</p>
    </div>
     <div class="hero-unit" id="conv2">
        
      
    <p id="demessage">Hi, I got a question @PhilipsNL when will my new 3D TV be fixed?</p>
    <p>
    <a class="btn btn-primary btn-large" id="archive">  <i class="icon-folder-close icon-white"></i>
Archive
    </a>
      <a class="btn btn-primary btn-large" id="onhold">    <i class="icon-time icon-white"></i>
On hold
    </a>
      <a class="btn btn-primary btn-large" id="tag">    <i class="icon-tag icon-white"></i>
Tag
    </a>
  <a class="btn btn-primary btn-large" id="reply">    <i class="icon-comment icon-white"></i>
Reply
    </a>

    </p>  <p id="ago">22 minutes ago</p>
  
    </div>

 <div class="hero-unit" id="conv3">
        
      
    <p id="demessage">Hi, I got a question @PhilipsNL when will my new 3D TV be fixed?</p>
    <p>
    <a class="btn btn-primary btn-large" id="archive">  <i class="icon-folder-close icon-white"></i>
Archive
    </a>
      <a class="btn btn-primary btn-large" id="onhold">    <i class="icon-time icon-white"></i>
On hold
    </a>
      <a class="btn btn-primary btn-large" id="tag">    <i class="icon-tag icon-white"></i>
Tag
    </a>
  <a class="btn btn-primary btn-large" id="reply">    <i class="icon-comment icon-white"></i>
Reply
    </a>

    </p>  <p id="ago">22 minutes ago</p>
  
    </div>

 <div class="hero-unit" id="conv4">
        
      
    <p id="demessage">Hi, I got a question @PhilipsNL when will my new 3D TV be fixed?</p>
    <p>
    <a class="btn btn-primary btn-large" id="archive">  <i class="icon-folder-close icon-white"></i>
Archive
    </a>
      <a class="btn btn-primary btn-large" id="onhold">    <i class="icon-time icon-white"></i>
On hold
    </a>
      <a class="btn btn-primary btn-large" id="tag">    <i class="icon-tag icon-white"></i>
Tag
    </a>
  <a class="btn btn-primary btn-large" id="reply" data-toggle="modal" href="#myModal">    <i class="icon-comment icon-white"></i>
Reply
    </a>

    </p>  <p id="ago">22 minutes ago</p>
  
    </div>

</div>
    <div class="modal" id="myModal">
    <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Reply</h3>
    </div>
    <div class="modal-body">
      <textarea type="text" class="input-xlarge" id="input01" maxlength="140"></textarea>
     
    </div>
    <div class="modal-footer">
    <a href="#" class="btn">Cancel</a>
    <a href="#" class="btn btn-primary">Reply </a>
    </div>
    </div>
</body>
</html>