<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>{% block title %}SocialExpress™ - Real-time social media insights in your mailbox.{% end %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {% block styles %}
           <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" />
            <link href="static/css/eigen.css" rel="stylesheet" type="text/css" />

            {% end %}
        {% block js %}
        <script type="text/javascript" src="static/js/vendor/jquery-1.7.2.min.js"></script>
            <script type="text/javascript" src="static/js/vendor/bootstrap.js"></script>
            <script type="text/javascript" src="static/js/reports.js"></script>
        {% end %}
         {% block meta %}
            <meta name="description" content="SocialExpress™ - Social media management with instant reporting." />
<meta name="keywords" content="Social Media Marketing, social media management, cms for social media, CRM, helpdesk, customer support, artificial intelligence" />
         {% end %}
         <script>
         $(document).ready(function() {
             var name = window.location.pathname.split("/")[1]
             $('a[href="'+name+'"]').parent("li").addClass("active");
            });
         </script>
    </head>

    <body>
        <div id="heroke">
          <div id="socialexpressie">
              <h2 id="headerken">SocialExpress</h2>
              {% if current_user %}
            <a href="/signout"> <input class="btn-danger" type="submit"
                value="Logout" id="logout"> </a>
            {% end %}
          </div>
        </div>

        <div class="container">

      {% block container  %}
      {% end %}
        </div>


        <div class="container-fluid">
        {% block sidebar-reports %}
            <div class="row-fluid"  >
    <div class="span2">

    <ul class="nav nav-list" id="lallie">
   <h4> Weekly reporting</h4>
    <li class="test">
    <a class="inboxx" href="newweeklyreport">
    <i class="icon-pencil icon-black"></i>
    New weekly report
    </a>
    </li>
     <li>
    <a class="inboxx" href="manageexistingreports">
    <i class="icon-cog icon-black"></i>
    Manage existing reports
    </a>
    </li>
    <li>
    <a class="inboxx" href="generatedweeklyreports">
    <i class="icon-book icon-black"></i>
    Generated reports
    </a>
    </li>
    </br>

   <h4>Real-time reporting</h4>
   <li>
    <a class="inboxx" href="newrealtimereport">
    <i class="icon-pencil icon-black"></i>
    New trigger
    </a>
    </li>
 <li>
    <a class="inboxx" href="manageexistingrules">
    <i class="icon-cog icon-black"></i>
    Manage existing triggers
    </a>
    </li>
   <li>
    <a class="inboxx" href="generatedrealtimereports">
    <i class="icon-book icon-black"></i>
    Generated reports
    </a>
    </li>


    </ul>

    </div>
        {% end %}


    {% block container-fluid %}
    {% end %}
        </div>
    </body>
</html>
