{% extends "base.html" %}

{% block container-fluid %}

    <div class="span10" id="witmaken">
    </br>
<h1>Generated weekly reports</h1><h5>Overview generated weekly reports</h5></br>

<div class="alert alert-success" style="display:none" id="dwnld_rpt_alert">
  <strong>Download In Progress</strong>
</div>

    {% if list %}
    <table class="table">
    <thead>
    <tr>
    <th>Number</th>
    <th>Main keyword</th>
    <th>Date</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for report in list %}
        <tr>
    <td>{{report[0]}}</td>
    <td>{{report[1]}}</td>
     <td>{{report[7].strftime("%d/%m/%Y")}}</td>

    <td><input class="btn-primary dwnld-report" type="button"
value="Download" id="{{report[0]}}"></td>
    </tr>
    {% end %}

    </tbody>

    </table>
    {% else %}
        <strong class="no_report"><p>No Reports Yet</p><strong>
    {% end %}
    <!--Body content-->
    </div>
    </div>

{% end %}
