
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="css/eigen.css" rel="stylesheet" type="text/css" />

<meta name="description" content="SocialExpress™ - Social media management with instant reporting." />
<meta name="keywords" content="Social Media Marketing, social media management, cms for social media, CRM, helpdesk, customer support, artificial intelligence" />
<title>SocialExpress™ - Real-time social media insights 
 in your mailbox.</title>

</head>

<body>


 
<div class="container">

 <h2>Real-time social media  </br>insights 
 in your mailbox.</h2>
     <h6>Powered by SocialExpress</h6>
</br>
    <form class="well">
    <fieldset>

    <div class="control-group">

    <label class="control-label" for="input01">E-mail</label>
    <div class="controls">
    <input type="text" class="input-xlarge" >

    </div>
    </div>
        <div class="control-group">
    <label class="control-label" for="input01">Password</label>
    <div class="controls">
    <input type="password"   class="input-xlarge"  > 

    </div>    
    </div>
        <button class="btn btn-large btn-primary" type="submit">

Create an account
</button>
    <button class="btn btn-large btn-warning" id="btnPass"  type="submit" >
    <i class="icon-ok icon-white"></i>
Login
</button>

    </fieldset>
    </form>

</div>

</body>
</html>