{% extends "base.html" %}
{% block container-fluid %}

    <div class="span10" id="witmaken">
    </br>
<h1>Manage existing triggers</h1><h5>Overview of the existing triggers</h5></br>
<div class="alert alert-block alert-error" id="delete_trigger_alert" style="display:none">
  <strong>Are you sure you want to delete?</strong> </br> </br>
  <input class="btn-danger" type="button"
value="Yes" id="trigger_del_yes">
<input class="btn-danger" type="button"
value="No" id="trigger_del_no">

</div>
    {% if list %}
    <table class="table">
    <thead>
    <tr>
    <th>Number</th>
    <th>Main keyword</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for report in list %}
        <tr>
        <td>{{report[0]}}</td>
        <td>{{report[1]}}</td>
        <td><input class="btn-danger delete-trigger" type="button"
        value="Delete" id="{{report[0]}}"></td>
    </tr>
    {% end %}
    </tbody>
    </table>
    {% else %}
        <strong class="no_report"><p>No Reports Yet</p><strong>
    {% end %}
    <!--Body content-->
    </div>
    </div>
{% end %}
