
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="css/eigen.css" rel="stylesheet" type="text/css" />

<meta name="description" content="SocialExpress™ - Social media management with instant reporting." />
<meta name="keywords" content="Social Media Marketing, social media management, cms for social media, CRM, helpdesk, customer support, artificial intelligence" />
<title>SocialExpress™ - Real-time social media insights 
 in your mailbox.</title>

</head>

<body>

   
  <div id="heroke">
      <div id="socialexpressie">
    <h2 id="headerken">SocialExpress</h2>
  <input class="btn-danger" type="submit"
value="Logout" id="logout">
      </div>
 

   
  </div>

       <div class="container-fluid">
    <div class="row-fluid"  >
    <div class="span2">
      
    <ul class="nav nav-list" id="lallie">
   <h4> Weekly reporting</h4>
    <li >
    <a class="inboxx" href="newweeklyreport.html">
    <i class="icon-pencil icon-black"></i>
    New weekly report 
    </a>
    </li>
     <li >
    <a class="inboxx"  href="manageexistingreports.html">
    <i class="icon-cog icon-black"></i>
    Manage existing report rules
    </a>
    </li>
    <li>
    <a class="inboxx" href="generatedweeklyreports.html">
    <i class="icon-book icon-black"></i>
    Generated reports
    </a>
    </li>
    </br>
    
   <h4>Real-time reporting</h4>
   <li>
    <a class="inboxx" href="newrealtimereport.html">
    <i class="icon-pencil icon-black"></i>
    New trigger
    </a>
    </li>
 <li class="active">
    <a class="inboxx" href="#">
    <i class="icon-cog icon-black"></i>
    Manage existing triggers
    </a>
    </li>
   <li>
    <a class="inboxx" href="generatedrealtimereports.html">
    <i class="icon-book icon-black"></i>
    Generated reports
    </a>
    </li>


    </ul>

    </div>
    <div class="span10" id="witmaken">
    </br>
<h1>Manage existing triggers</h1><h5>Overview of the existing triggers</h5></br>

    <table class="table">
    <thead>
    <tr>
    <th>Number</th>
    <th>Main keyword</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>1</td>
    <td>Philips AND Senseo</td>
    <td><input class="btn-danger" type="button"
value="Delete"></td>
    </tr>
      <tr>
    <td>2</td>
    <td>Philips AND Saeco</td>
    <td><input class="btn-danger" type="button"
value="Delete"></td>
    </tr>
      <tr>
    <td>3</td>
    <td>Koffie</td>
    <td><input class="btn-danger" type="button"
value="Delete"></td>
    </tr>
    </tbody>
    
    </table>

    <!--Body content-->
    </div>
    </div>
    </div>


</body>
</html>