{% extends "base.html" %}

{% block container-fluid %}

    <div class="span10" id="witmaken">
    </br>
<h1>Manage existing report rules</h1><h5>Overview of the existing rules</h5></br>
<div class="alert alert-block alert-error" id="delete_rpt_alert" style="display:none">
  <!-- <button class="close" data-dismiss="alert">×</button>-->
  <strong>Are you sure you want to delete?</strong> </br> </br>
  <input class="btn-danger" type="button"
value="Yes" id="report_del_yes">
<input class="btn-danger" type="button"
value="No" id="report_del_no">

</div>
    <table class="table">
    <thead>
    <tr>
    <th>Number</th>
    <th>Main keyword</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>1</td>
    <td>Philips AND Senseo</td>
    <td><input class="btn-danger delete-report" type="button"
value="Delete" id="1"></td>
    </tr>
      <tr>
    <td>2</td>
    <td>Philips AND Saeco</td>
    <td><input class="btn-danger delete-report" type="button"
value="Delete" id="2"></td>
    </tr>
      <tr>
    <td>3</td>
    <td>Koffie</td>
    <td><input class="btn-danger delete-report" type="button"
value="Delete" id="3"></td>
    </tr>
    </tbody>

    </table>

    <!--Body content-->
    </div>
    </div>
{% end %}
