{% extends "base.html" %}
{% block container-fluid %}

    <div class="span10" id="witmaken">
    </br>
<h1>New trigger</h1><h5>Fill in criteria to receive a report real-time as when something happens based on the criteria</h5></br>


 <form class="well" id="wellie">
    <fieldset >

    <div class="control-group" >

    <label class="control-label" for="input01"><h3>Main keyword</h3><p>Enter a main keyword you want to monitor</p></label>
    <div class="controls">
    <input type="text" class="input-xlarge" id="input01">
    </div>
    <label class="control-label" for="input01"><h3>IF condition</h3><p>Example: If the sentiment increases with > 30% compared to the moving average</p></label>
    <div class="controls">
      if the <select class="input-xlarge" id="input01">
      <option value="sentiment">sentiment</option>
     <option value="volume">volume</option>
     </select>
     of all the conversations from
       <select class="input-xlarge" id="input01">
     <option value="Belgium">Belgium</option>
     </select>
     in the language
       <select class="input-xlarge" id="input01">
     <option value="Belgium">French</option>
     </select>
     <select class="input-xlarge" id="input01">
      <option value="changes">changes</option>
     <option value="increases">increases</option>
      <option value="decreases">decreases</option>
     </select>
    with at least
       <select class="input-xlarge" id="input01">
      <option value="10">5%</option>
           <option value="increases">10%</option>
     <option value="increases">20%</option>
      <option value="decreases">30%</option>
        <option value="decreases">50%</option>

     </select>

    </div>




 <label class="control-label" for="input01" ><h3>THEN send immediately a report to</h3><p>Use "AND" between addresses to enter multiple addresses. Example: "responsibleperson@cocacola.com AND marketing@cocacola.com"</p></label>


       <div class="controls">
    <input type="text" class="input-xlarge" id="input01">
    </div>


</div>

<input class="btn-success btn-large" type="submit"
value="Add trigger">
    </fieldset>
 </form>
    <!--Body content-->
    </div>
    </div>

{% end %}
