
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="styles/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="styles/eigen.css" rel="stylesheet" type="text/css" />

<meta name="description" content="SocialExpress™ - Social media management with instant reporting." />
<meta name="keywords" content="Social Media Marketing, social media management, cms for social media, CRM, helpdesk, customer support, artificial intelligence" />
<title>SocialExpress™ - Social media management with instant reporting.</title>

</head>

<body>
<div class="container">   
    <ul class="nav nav-pills">
    <h1>Create your profile</h1></br>
    <li class="active">
    <a href="#">Add a channel</a>
    </li>
    
    <li><a href="#">Create your profile</a></li>
    <li><a href="#">Invite your colleagues</a></li>
     <li><a href="#">Name your profile</a></li>
     
    </ul>
 <a class="btn btn-primary" id="connect"> 
Connect with Twitter
    </a>
    <br />

       <button class="btn btn-large btn-warning"  type="submit" >
    <i class="icon-arrow-right icon-white"></i>
Next step
</button></div> 


</body>

</body>
</html>
